<!doctype html>
	<link rel="stylesheet" type="text/css" href="/static/styles.css">
    <title>Naive Bayes Classifier</title>
   <body>
    		<div class="side-nav white-nav" style="border-right:solid;border-right-width: 1px;border-bottom-color:grey;">
                   	<div style="float:left;padding-top:10px;padding-left:0px;"><img src="/static/images/logo.png" width="220" height="80" /></div>

    			<p><br/></p><p><br/></p><p><br/></p>
    			<h3 style="font-family: sans-serif;">Menu</h3>
					<ul style="font-family:sans-serif;">
						<li>
        					<a href="/index" class="">
          					<span>Home</span>
        					</a>
      				</li>
      				<li>
        					<a href="/startTesting" class="">
          					<span>Start Testing</span>
        					</a>
      				</li>
      				
      				<li>
        					<a href="/navi" class="">
          					<span>Navigation help</span>
        					</a>
      				</li>
      				
    				</ul>
				<h3 style="font-family:sans-serif;">About NBC</h3>
    				<ul style="font-family:sans-serif;">
      				<li>
        					<a href="/whatisit" class="">
          					<span>What is it?</span>
        					</a>
      				</li>
      				<li>
        					<a href="/howitworks" class="">
          					<span>How it works</span>
        					</a>
      				</li>
      				<li>
        					<a href="/design" class="">
          					<span>Design</span>
        					</a>
      				</li>
      				<li>
        					<a href="/flowchart" class="">
          					<span>Flowcharts</span>
        					</a>
      				</li>

					</ul>

				</div>
						 <div class="tempheadings">
						 <p></p>
						 </div>
							<div class="tempheadings" style="margin-top:6%;">
					   	<h3 style="font-family:'liberation serif';" align="center">Hardware & Software Requirements</h3>
					
						<div align="center">
						<button style="font-family:'liberation serif';font-size:20px;border: none;border-radius: ;background-color: #E8E8E8;padding: 5px 20px;border-radius: 6px;color: #7A778B;" type="button" onclick="window.location.href='/hReq';">Hardware
						</button>
						<button style="font-family:'liberation serif';font-size:20px;border: none;border-radius: ;background-color: #E8E8E8;padding: 5px 20px;border-radius: 6px;color: #7A778B;" type="button" onclick="window.location.href='/sReq';">Software
						</button>
						</div>
						<br><br>
                    <div class="tempheadings">
								<div style="position:absolute; width:100%;"> 
								<h3 style="font-family:'liberation serif';position: absolute;left: 2%;;" align="center" >Choose the Algorithm for which you wish to view the code</h3>
								<div align="center" style="position: absolute;left: -3%;margin-top: 5%;">
								
  									<a href="/show1" ><img src="/static/images/button1.png" alt="" ></a>
  									<a href="/show2" ><img src="/static/images/button2.png" alt="" ></a>
  									<a href="/show3" ><img src="/static/images/button3.png" alt="" ></a>
  									<a href="/show5" ><img src="/static/images/button4.png" alt="" ></a>
  									<a href="/show6" ><img src="/static/images/button5.png" alt="" ></a>
  									<a href="/show7" ><img src="/static/images/button6.png" alt="" ></a>
  									<a href="/show8" ><img src="/static/images/button7.png" alt="" ></a>
  						
								</div>
								</div>
                    </div>

    </body>
</html>
