<!doctype html>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <title>Naive Bayes Classifier</title>
    <body>
    	<div class="side-nav white-nav" style="border-right:solid;border-right-width: 1px;border-bottom-color:grey;">
           	<div style="float:left;padding-top:10px;padding-left:0px;"><img src="/static/images/logo.png" width="220" height="80" /></div>
   			<p><br/></p><p><br/></p><p><br/></p>
   			<<h3 style="font-family: sans-serif;">Menu</h3>
			<ul style="font-family:sans-serif;">
				<li>
   					<a href="/index" class="">
       					<span>Home</span>
   					</a>
   				</li>
   				<li>
    				<a href="/startTesting" class="">
   	    				<span>Start Testing</span>
		    		</a>
     			</li>
      			<li>
        	    	<a href="/results" class="">
          				<span>Results</span>
        			</a>
      			</li>
      			<li>
        			<a href="/navi" class="">
          				<span>Navigation help</span>
        			</a>
      			</li>
      			<li>
        			<a href="/index">
          				<span>Exit</span>
        			</a>
      			</li>
    		</ul>
			<h3 style="font-family:sans-serif;">About NBC</h3>
    		<ul style="font-family:sans-serif;">
      			<li>
        			<a href="/whatisit" class="">
          				<span>What is it?</span>
        			</a>
      			</li>
      			<li>
        			<a href="/howitworks" class="">
          	    		<span>How it works</span>
        			</a>
      			</li>
      			<li>
        			<a href="/design" class="">
          				<span>Design</span>
        			</a>
      			</li>
      			<li>
        	    	<a href="/flowchart" class="">
          				<span>Flowcharts</span>
        			</a>
      			</li>
				</ul>
		</div>
        <div class="tempheadings">
            <p>Working Visualizations of the NBC</p>
        </div>
        <div class="definition">
            <p>The following figure shows how the NBC works. The NBC works on a Priori and Posteriori learning model. Its output is the Maximum of the Posteriori or MAP.
               A priori learning is knowledge known without experience. A posteriori learning is knowledge known with experience.
               As you can see in the illustration below, knowledge gained through experience is constantly changing. So taking into account the Priori and Posteriori learning, the likelihood of the given data Y is calculated.
            </p>
            <div> <img src="/static/images/nbc.png" height="300" width="450" style="float:left;margin-left: 10%;margin-top: 3%;"/></div>
            <br/>
            <div style="height:1.5em;margin-top:21em;width:7em;font-family:'liberation serif';font-size:15px;border: none;border-radius: ;background-color: #E8E8E8;padding: 3px 7px;border-radius: 6px;color: #7B87A3;">
                    <a href="/howitworks">Previous Page</a>
            </div>
        </div>
    </body>
</html>
