<!doctype html>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <title>Naive Bayes Classifier</title>
    <body>
        <div class="side-nav white-nav" style="border-right:solid;border-right-width: 1px;border-bottom-color:grey;">
           	<div style="float:left;padding-top:10px;padding-left:0px;"><img src="/static/images/logo.png" width="220" height="80" /></div>
   			<p><br/></p><p><br/></p><p><br/></p>
   						<h3 style="font-family: sans-serif;">Menu</h3>
			<ul style="font-family:sans-serif;">
				<li>
   					<a href="/index" class="">
       					<span>Home</span>
   					</a>
   				</li>
   				<li>
    				<a href="/startTesting" class="">
   	    				<span>Start Testing</span>
		    		</a>
     			</li>
      			<li>
        	    	<a href="/results" class="">
          				<span>Results</span>
        			</a>
      			</li>
      			<li>
        			<a href="/navi" class="">
          				<span>Navigation help</span>
        			</a>
      			</li>
      			
    		</ul>
			<h3 style="font-family:sans-serif;">About NBC</h3>
    		<ul style="font-family:sans-serif;">
      			<li>
        			<a href="/whatisit" class="">
          				<span>What is it?</span>
        			</a>
      			</li>
      			<li>
        			<a href="/howitworks" class="">
          	    		<span>How it works</span>
        			</a>
      			</li>
      			<li>
        			<a href="/design" class="">
          				<span>Design</span>
        			</a>
      			</li>
      			<li>
        	    	<a href="/flowchart" class="">
          				<span>Flowcharts</span>
        			</a>
      			</li>
			</ul>
		</div>
        <div class="tempheadings">
            <p>Navigation through the application</p>
        </div>
        <div class="definition">
            <p><br/></p>                    <p><br/></p>
			<p style="font-family:'liberation serif' ;font-size: 20px;"><b>Navigation bar</b><br>
    			<ul class="text" >
					<li>Used to view the various contents of this application</li>
					<li>Exit the application by pressing the 'EXIT' button at the bottom left of every screen.</li>
				</ul>
			</p>
			<br>
            <p style="font-family: 'liberation serif';font-size: 20px;"><b> Home </b></p>
            <ul class="text">
				<li>Conatins information about Project Title, Team members etc</li>
				<li>Homescreen of the application</li>
            </ul>
            <br>
            <p style="font-family: 'liberation serif';font-size: 20px;"><b> Start Testing </b></p>
            <ul class="text">
                <li>Contains Datasets to test the NBC</li>
                <li>Choose a dataset to run the tests</li>
                <li>NBC is tested against that dataset & the results will be displayed</li>
                <li>Results are displayed through various statistical visualizations</li>
		    </ul>
            <br>
            <p style="font-family: 'liberation serif';font-size: 20px;"><b>Results</b></p>
            <ul class="text">
                <li>Contains static results already obtained through constant experimentation</li>
                <li>Results are displayed through various visualizations</li>
            </ul>
			<br>
            <p style="font-family: 'liberation serif';font-size: 20px;"><b>What is it?</b></p>
			<ul class="text">
			    <li>Information about NBC</li>
			    <li>Advantages of NBC</li>
			</ul>
            <br>
            <p style="font-family: 'liberation serif';font-size: 20px;"><b>How it works</b></p>
			<ul class="text">
				<li>Mathematical representation of NBC</li>
				<li>Figure demonstrating the working of NBC</li>
			</ul>
            <br>
            <p style="font-family: 'liberation serif';font-size: 20px;"><b>Design</b></p>
			<ul class="text">
        		<li>Information about Hardware & Software Requirements</li>
				<li>Source Code for various algorithms</li>
			</ul>
            <br>
            <p style="font-family: 'liberation serif';font-size: 20px;"><b>Flowcharts</b></p>
			<ul class="text">
				<li>Contains Flowcharts of various algorithms</li>
			</ul>
            <br>
        </div>
    </body>
</html>
