<html>
	<head>
	<link rel="stylesheet" type="text/css" href="/static/styles.css">
	<link rel="stylesheet" type="text/css" href="/static/SyntaxHighlighter.css" />
		<title>Naive Bayes Classifier</title>
		<script type="text/javascript" src="/static/custom.js"></script>
		<link rel="stylesheet" type="text/css" href="/static/custom.css" />
		</head>
			<body onload="prettyPrint()">
				<div class="side-nav white-nav" style="border-right:solid;border-right-width: 1px;">
            	<div style="float:left;padding-top:10px;padding-left:0px;"><img src="/static/images/logo.png" width="220" height="80" /></div>
		  			<p><br/></p><p><br/></p><p><br/></p>
    					<h3 style="font-family: sans-serif;">Menu</h3>
							<ul style="font-family:sans-serif;">
								<li>
        							<a href="/index" class="">
          						<span>Home</span>
        							</a>
      						</li> 
      						<li>
        							<a href="/startTesting" class="">
          						<span>Start Testing</span>
        							</a>
      						</li>
      						<li>
        							<a href="/design" class="">
          						<span>Design</span>
        							</a>
      						</li>
      						<li>
        							<a href="/flowchart" class="">
          						<span>Flowcharts</span>
        							</a>
      						</li>      						
    						</ul>
						<h3 style="font-family:sans-serif;">About NBC</h3>
    						<ul style="font-family:sans-serif;">
      						<li>
        							<a href="/whatisit" class="">
          						<span>What is it?</span>
        							</a>
      						</li>
      						<li>
        							<a href="/howitworks" class="">
          						<span>How it works</span>
        							</a>
      						</li>
      						
							</ul>
				</div>
				<div align="center" style="position:absolute;top:5%;width: 80%;left: 20%;">
					<h6 align="center" style="width:100%;" class="tempheadings">Code for Algorithm 5</h6>
<table border="1" align="center" cellpadding="10" >
<td>
<pre class="prettyprint">
<code style="font-family:'inconsolata';"> 
from algo5 import *<br>

def updateProbabilities(stream, bandCount, band, observableTypeIndex):<br>
    &emsp;avgCount = 0<br>
    &emsp;stream.trainWindowCount += bandCount<br>
    &emsp;for j in range(0,bandCount):<br>
      &emsp;&emsp;nelband = band[j][0]<br>
      &emsp;&emsp;for k in range(1,nelband):<br>
        &emsp;&emsp;&emsp;avgCount += stream.probabilityArray[observableTypeIndex][band[j][k]]<br>
      &emsp;&emsp;avgCount += 1<br>
      &emsp;&emsp;if nelband == 0:<br>
        &emsp;&emsp;&emsp;continue<br>
      &emsp;&emsp;avgCount /= nelband<br>
      &emsp;&emsp;for k in range(1,nelband):<br>
        &emsp;&emsp;&emsp;stream.probabilityArray[observableTypeIndex][band[j][k]] = avgCount<br>
      &emsp;&emsp;for k in range(1,nelband):<br>
        &emsp;&emsp;&emsp;stream.probabilityArray[observableTypeIndex][band[j][k]] /= stream.trainWindowCount<br>
      &emsp;&emsp;avgCount = 0<br>
    &emsp;return stream<br>
</code>
</pre>
</td>
</table>
					<br>
						<button style="font-family:'liberation serif';font-size:20px;border: none;border-radius: ;background-color: #E8E8E8;padding: 5px 20px;border-radius: 6px;color: #7B87A3;" type="button" onclick="window.location.href='/design';">Back
						</button>
					<br><br>
				</div>		
			</body>
</html>
