<html>
	<head>
	<link rel="stylesheet" type="text/css" href="/static/styles.css">
	<link rel="stylesheet" type="text/css" href="/static/SyntaxHighlighter.css" />
		<title>Naive Bayes Classifier</title>
		<script type="text/javascript" src="/static/custom.js"></script>
		<link rel="stylesheet" type="text/css" href="/static/custom.css" />
		</head>
			<body onload="prettyPrint()">
				<div class="side-nav white-nav" style="border-right:solid;border-right-width: 1px;">
            	<div style="float:left;padding-top:10px;padding-left:0px;"><img src="/static/images/logo.png" width="220" height="80" /></div>
		  			<p><br/></p><p><br/></p><p><br/></p>
    					<h3 style="font-family: sans-serif;">Menu</h3>
							<ul style="font-family:sans-serif;">
								<li>
        							<a href="/index" class="">
          						<span>Home</span>
        							</a>
      						</li> 
      						<li>
        							<a href="/startTesting" class="">
          						<span>Start Testing</span>
        							</a>
      						</li>
      						<li>
        							<a href="/design" class="">
          						<span>Design</span>
        							</a>
      						</li>
      						<li>
        							<a href="/flowchart" class="">
          						<span>Flowcharts</span>
        							</a>
      						</li>      						
    						</ul>
						<h3 style="font-family:sans-serif;">About NBC</h3>
    						<ul style="font-family:sans-serif;">
      						<li>
        							<a href="/whatisit" class="">
          						<span>What is it?</span>
        							</a>
      						</li>
      						<li>
        							<a href="/howitworks" class="">
          						<span>How it works</span>
        							</a>
      						</li>
      						
							</ul>
				</div>
				<div align="center" style="position:absolute;top:5%;width: 80%;left: 20%;">
					<h6 align="center" style="width:100%;" class="tempheadings">Code for Algorithm 7</h6>
<table border="1" align="center" cellpadding="10" >
<td>
<pre class="prettyprint">
<code style="font-family:'inconsolata'!important;"> 
from numpy import *<br>
from random import *<br>

class TCPstream:<br>
  &emsp;destinationIP = ""<br>
  &emsp;destinationPort = ""<br>
  &emsp;windowSize = 0<br>
  &emsp;bandCount = 0<br>
  &emsp;errorProportion = 0.0<br>
  &emsp;trainWindowCount = 0<br>
  &emsp;packetCounter = zeros(6)<br>
  &emsp;probabilityArray = array([])<br>
  &emsp;thresholdProbability = 0.088<br>

  &emsp;def __init__(self,winSize,bandC):<br>
    &emsp;&emsp;self.windowSize = winSize<br>
    &emsp;&emsp;self.probabilityArray = zeros(self.windowSize*6).reshape(6,self.windowSize)<br>
    &emsp;&emsp;self.bandCount = bandC<br>

def determineProbability(window, stream):<br>
  &emsp;probability = 1<br>
  &emsp;pcount = zeros(6)<br>
  &emsp;for i in range(len(window)):<br>
      &emsp;&emsp;if window[i] == 1:<br>
        &emsp;&emsp;&emsp;stream.packetCounter[0] += 1<br>
        &emsp;&emsp;&emsp;pcount[0]+=1<br>
      &emsp;&emsp;elif window[i] == 2:<br>
        &emsp;&emsp;&emsp;stream.packetCounter[1] += 1<br>
        &emsp;&emsp;&emsp;pcount[1]+=1<br>
      &emsp;&emsp;elif window[i] == 3:<br>
        &emsp;&emsp;&emsp;stream.packetCounter[2] += 1<br>
        &emsp;&emsp;&emsp;pcount[2]+=1<br>
      &emsp;&emsp;elif window[i] == 4:<br>
        &emsp;&emsp;&emsp;stream.packetCounter[3] += 1<br>
        &emsp;&emsp;&emsp;pcount[3]+=1<br>
      &emsp;&emsp;elif window[i] == 5:<br>
        &emsp;&emsp;&emsp;stream.packetCounter[4] += 1<br>
        &emsp;&emsp;&emsp;pcount[4]+=1<br>
      &emsp;&emsp;else:<br>
        &emsp;&emsp;&emsp;stream.packetCounter[5] += 1<br>
        &emsp;&emsp;&emsp;pcount[5]+=1<br>
  &emsp;for i in range(0,6):<br>
    &emsp;&emsp;if pcount[i] > 99.0:<br>
        &emsp;&emsp;&emsp;pcount[i]=99.0<br>
    &emsp;&emsp;if stream.probabilityArray[i][pcount[i]] == 0:<br>
      &emsp;&emsp;&emsp;continue<br>
    &emsp;&emsp;probability *= stream.probabilityArray[i][pcount[i]]<br>
  &emsp;return probability<br>
</code>
</pre>
</td>
</table>
					<br>
						<button style="font-family:'liberation serif';font-size:20px;border: none;border-radius: ;background-color: #E8E8E8;padding: 5px 20px;border-radius: 6px;color: #7B87A3;" type="button" onclick="window.location.href='/design';">Back
						</button>
					<br><br>
				</div>		
			</body>
</html>
