<html>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
	<title>Naive Bayes Classifier</title>
    <body>
        <div class="side-nav white-nav" style="border-right:solid;border-right-width: 1px;">
            <div style="float:left;padding-top:10px;padding-left:0px;"><img src="/static/images/logo.png" width="220" height="80" /></div>
   			<p><br/></p><p><br/></p><p><br/></p>
   			<h3 style="font-family: sans-serif;">Menu</h3>
   			<ul style="font-family:sans-serif;">
					<li>
        					<a href="/index" class="">
          					<span>Home</span>
        					</a>
      				</li> 
      				<li>
        					<a href="/startTesting" class="">
          					<span>Start Testing</span>
        					</a>
      				</li>
      				<li>
        			<a href="/design" class="">
          				<span>Design</span>
        			</a>
      			</li>
      			<li>
        	    	<a href="/flowchart" class="">
          				<span>Flowcharts</span>
        			</a>
      			</li>      				
    				</ul>
			<h3 style="font-family:sans-serif;">About NBC</h3>
    		<ul style="font-family:sans-serif;">
      			<li>
        			<a href="/whatisit" class="">
          				<span>What is it?</span>
        			</a>
      			</li>
      			<li>
        			<a href="/howitworks" class="">
          	    		<span>How it works</span>
        			</a>
      			</li>
      			
			</ul>
		</div>
        <div align="center" style="top:5%;width: 84%;float: right;">
            <h6 align="center" style="width:100%;" class="tempheadings">Software Requirements</h6>
            <table border="1" align="center" cellpadding="10" >
                <td>
                    <ul class="text"><li> GNU/Linux based OS </li></ul>
                    <ul class="text"><li> Python 2.6 or greater </li></ul>
                    <ul class="text"><li> Pycharm Community Edition</li></ul>
                    <ul class="text"><li> NumPy 1.7 or greater</li></ul>
                    <ul class="text"><li>Wireshark</li></ul>
                    <ul class="text"><li>TCPDump</li></ul>
                    <ul class="text"><li>Git</li></ul>
                    <ul class="text"><li>Flask</li></ul>
                </td>
            </table>
            <br>
				<button style="border: none;border-radius: ;background-color: #E8E8E8;padding: 5px 20px;border-radius: 6px;color: #7B87A3;" type="button" onclick="window.location.href='/design';">Back
        		</button>
        </div>
        <div>
            <img style="position: absolute;width: 12%;left: 20%;margin-top: 7%;" src="/static/images/gnulinux.png">
        </div>
        <div>
            <img style="position: absolute;width: 9%;left: 81%;margin-top: 8%;" src="/static/images/python.png" >
        </div>
        <div>
            <img style="position: absolute;width: 20%;left: 71%;margin-top: 28%;" src="/static/images/wireshark.png">
        </div>
        <div>
            <img style="position: absolute;width: 20%;left: 45%;margin-top: 28%;" src="/static/images/numpy.png">
        </div>
        <div>
            <img style="position: absolute;width: 20%;left: 20%;margin-top: 30%;" src="/static/images/pycharm.gif">
        </div>
        <div>
            <img style="position: absolute;width: 8%;left: 71%;margin-top: 10%;" src="/static/images/git.png">
        </div>
        <div>
            <img style="position: absolute;width: 8%;left: 36%;margin-top: 12%;" src="/static/images/flask.png">
        </div>
    </body>
</html>
