<html>
	<link rel="stylesheet" type="text/css" href="/static/styles.css">
    <title>Naive Bayes Classifier</title>
   	<body>
    		<div class="side-nav white-nav" style="border-right:solid;border-right-width: 1px;border-bottom-color:grey;">
           	<div style="float:left;padding-top:10px;padding-left:0px;"><img src="/static/images/logo.png" width="220" height="80" /></div>
    			<p><br/></p><p><br/></p><p><br/></p>
    			<h3 style="font-family: sans-serif;">Menu</h3>
					<ul style="font-family:sans-serif;">
						<li>
        					<a href="/index" class="">
          					<span>Home</span>
        					</a>
      				</li> 
      				<li>
        					<a href="/startTesting" class="">
          					<span>Start Testing</span>
        					</a>
      				</li>
      				
      				<li>
        					<a href="/navi" class="">
          					<span>Navigation help</span>
        					</a>
      				</li>
      				
    				</ul>
				<h3 style="font-family:sans-serif;">About NBC</h3>
    				<ul style="font-family:sans-serif;">
      				<li>
        					<a href="/whatisit" class="">
          					<span>What is it?</span>
        					</a>
      				</li>
      				<li>
        					<a href="/howitworks" class="">
          					<span>How it works</span>
        					</a>
      				</li>
      				<li>
        					<a href="/design" class="">
          					<span>Design</span> 
        					</a>
      				</li>
      				<li>
        					<a href="/flowchart" class="">
          					<span>Flowcharts</span>
        					</a>
      				</li>
					</ul>
				</div>
            <div class="tempheadings">
               <p>Testing of the NBC</p>
            </div>
            <div class="definition">
               <p> The Naive Bayes Classifier which is being implemented here can be tested on two Datasets. You can click on any of the two datasets to start the testing process. Please wait for a few seconds while the results are being computed.</p>
						<br>
                   <ul>
                     <li style="font-family:sans-serif;">1.&nbsp;DARPA DATASET</li>
                     <ul style="padding-left: 20;">
                     <li style="font-family:sans-serif;"><a href="/darpaNoAttack">a)&nbsp;No Attack</a></li>
							<li style="font-family:sans-serif;"><a href="/darpaAttack">b)&nbsp;Attack</a></li>								                     
                     </ul>
                     
                     <li style="font-family:sans-serif;">2.&nbsp;KDD DATASET</li>
                     <ul style="padding-left: 20;">
                     <li style="font-family:sans-serif;"><a href="/kddNoAttack">a)&nbsp;No Attack</a></li>
							<li style="font-family:sans-serif;"><a href="/kddAttack">b)&nbsp;Attack</a></li>								                     
                     </ul>
                   </ul>
            </div>
   </body>
</html>
