<html>
	<link rel="stylesheet" type="text/css" href="/static/styles.css">
    <title>Naive Bayes Classifier</title>
   	<body>
   	<style type="text/css">
   	td,th {
 			 padding-top:15px;
  			 padding-bottom:15px;
  			 padding-right:15px;
  			 padding-left: 15px;  
  			  border: 1px solid #fff; 
  			 font-family:sans-serif;
  			 
			}
			
   	</style>
    		<div class="side-nav white-nav" style="border-right:solid;border-right-width: 1px;border-bottom-color:grey;">
           	<div style="float:left;padding-top:10px;padding-left:0px;"><img src="/static/images/logo.png" width="220" height="80" /></div>
    			<p><br/></p><p><br/></p><p><br/></p>
    			<h3 style="font-family: sans-serif;">Menu</h3>
					<ul style="font-family:sans-serif;">
						<li>
        					<a href="/index" class="">
          					<span>Home</span>
        					</a>
      				</li> 
      				<li>
        					<a href="/startTesting" class="">
          					<span>Start Testing</span>
        					</a>
      				</li>
      				<li>
        					<a href="/design" class="">
          					<span>Design</span> 
        					</a>
      				</li>
      				<li>
        					<a href="/flowchart" class="">
          					<span>Flowcharts</span>
        					</a>
      				</li>      				      				
    				</ul>
				<h3 style="font-family:sans-serif;">About NBC</h3>
    				<ul style="font-family:sans-serif;">
      				<li>
        					<a href="/whatisit" class="">
          					<span>What is it?</span>
        					</a>
      				</li>
      				<li>
        					<a href="/howitworks" class="">
          					<span>How it works</span>
        					</a>
      				</li>
      				
					</ul>
				</div>
            <div class="tempheadings">
               <p>Testing of the NBC</p>
            </div>
            <div class="definition">
               <p> The Naive Bayes Classifier which is being implemented here can be tested on the following Datasets. You can click on any of the datasets to start the testing process.<br><br><b>Please wait for a few seconds while the results are being computed.</b></p>
						
						<table align="center" >
						<tr>
						<td align="center" style=" border: 1px solid #fff;">
                  
                     <h3 style="font-family:'liberation serif';">DARPA DATASET</h3>
                     <button style="font-family:'liberation serif';font-size:20px;border: none;border-radius: ;background-color: #E8E8E8;padding: 5px 20px;border-radius: 6px;color: #7A778B;" type="button" onclick="window.location.href='/darpaNoAttack';">No Attack</button>&nbsp;&nbsp;
                     <button style="font-family:'liberation serif';font-size:20px;border: none;border-radius: ;background-color: #E8E8E8;padding: 5px 20px;border-radius: 6px;color: #7A778B;" type="button" onclick="window.location.href='/darpaAttack';">Attack</button>
                   </td>
                   <td align="center" style=" border: 1px solid #fff;">                  
                     <h3 style="font-family:'liberation serif';">KDD DATASET</h3>
                     <button style="font-family:'liberation serif';font-size:20px;border: none;border-radius: ;background-color: #E8E8E8;padding: 5px 20px;border-radius: 6px;color: #7A778B;" type="button" onclick="window.location.href='/kddNoAttack';">No Attack</button>&nbsp;&nbsp;
                     <button style="font-family:'liberation serif';font-size:20px;border: none;border-radius: ;background-color: #E8E8E8;padding: 5px 20px;border-radius: 6px;color: #7A778B;" type="button" onclick="window.location.href='/kddAttack';">Attack</button>
                     </td>
                   <td align="center" style=" border: 1px solid #fff;">
                     <h3 style="font-family:'liberation serif';">Auckland DATASET</h3>
                     <button style="font-family:'liberation serif';font-size:20px;border: none;border-radius: ;background-color: #E8E8E8;padding: 5px 20px;border-radius: 6px;color: #7A778B;" type="button" onclick="window.location.href='/auckNoAttack';">No Attack</button>&nbsp;&nbsp;
                     <button style="font-family:'liberation serif';font-size:20px;border: none;border-radius: ;background-color: #E8E8E8;padding: 5px 20px;border-radius: 6px;color: #7A778B;" type="button" onclick="window.location.href='/auckAttack';">Attack</button>
                     </td>
                     </tr>
                     </ul>
                     </table>
            </div>
            <div style="position:absolute;left:18%;top: 37%;padding: 1%;">
            <h3 align="center" style="font-family:'liberation serif';"><u><b>Grouping of TCP Flags</b></u></h3>
				<table border="1" align="center">            
					<tr bgcolor="#D0D0D0 ">
					<th >Flag Set</th>
					<th >Flag Name</th>
					<th >Description</th>					
					</tr>            	
            	<tr>
            	<td><b>RST</b></td>
					<td>Reset flag</td>
					<td>This flag is set when the remote host rejects the incoming packet from a client on account of trying to establish a connection. This indicates that the remote host has <b>reset</b> the connection</td>            	
            	</tr>
            	<tr bgcolor="#F0F0F0">  
            	<td><b>SYN</b></td>
					<td>Synchronization flag</td>            	
            	<td>This flag is set when the host is trying to establish a connection by sending <b>SYN</b> (synchronize) packets</td>
            	</tr>
            	<tr>
            	<td><b>ACK</b></td>
					<td>Acknowledgement flag</td>
					<td>This flag is set to <b>acknowledge</b> the successful receipt of packets</td>       	
            	</tr>
            	<tr bgcolor="#F0F0F0">            	
            	<td><b>FIN/ACK</b></td>
					<td>Finish & Acknowledgement flag</td>            	
            	<td>This flag is set when the destination host wants to close the connection with the source host after data transfer. The FIN flag is set to indicate <b>termination</b> of connection while the ACK flag is set to acknowledge the last packet received during data transfer</td>
            	</tr>
            	<tr>
            	<td><b>PSH/ACK</b></td>
					<td>Push & Acknowledgement flag</td>
					<td>This flag is set when feedback is required immediately from the client and server instead of waiting for the buffer to become full before transmission. The data is <b>immediately pushed</b> when the PSH flag is set and the ACK flag is set to acknowledge the data received</td>         	
            	</tr>
            	<tr bgcolor="#F0F0F0">            	
            	<td><b>Others</b></td>
					<td>Others</td>            	
            	<td>Any <b>other flag/s</b> set other than the above mentioned flags, fall under this category</td>
            	</tr>
           </table>
             
            </div>
   </body>
</html>
