<!doctype html>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <title>Naive Bayes Classifier</title>
    <body>
		<div class="side-nav white-nav" style="border-right:solid;border-right-width: 1px;">
           	<div style="float:left;padding-top:10px;padding-left:0px;"><img src="/static/images/logo.png" width="220" height="80" /></div>
   			<p><br/></p><p><br/></p><p><br/></p>
   						<h3 style="font-family: sans-serif;">Menu</h3>
			<ul style="font-family:sans-serif;">
				<li>
   					<a href="/index" class="">
       					<span>Home</span>
   					</a>
   				</li>
   				<li>
    				<a href="/startTesting" class="">
   	    				<span>Start Testing</span>
		    		</a>
     			</li>
      			
      			<li>
        			<a href="/navi" class="">
          				<span>Navigation help</span>
        			</a>
      			</li>
      			
    		</ul>
			<h3 style="font-family:sans-serif;">About NBC</h3>
    		<ul style="font-family:sans-serif;">
      			<li>
        			<a href="/whatisit" class="">
          				<span>What is it?</span>
        			</a>
      			</li>
      			<li>
        			<a href="/howitworks" class="">
          	    		<span>How it works</span>
        			</a>
      			</li>
      			<li>
        			<a href="/design" class="">
          				<span>Design</span>
        			</a>
      			</li>
      			<li>
        	    	<a href="/flowchart" class="">
          				<span>Flowcharts</span>
        			</a>
      			</li>
			</ul>
		</div>
   		<div class="definition">
            <p> Content goes here </p>
        </div>
    </body>
</html>
